In [1]:
import pandas as pd
from sqlalchemy import create_engine
import config

# Bitcoin Historical Data

* This notebook should only be run **once** in order to load the cleaned, up-to-date (as of 8/14/20) 1-minute price history data for the Ethereum and Bitcoin cryptocurrencies

* This notebook should be run only after creating the table schemas for the two cryptocurrencies in pgAdmin - the tables may be created in this notebook and loaded into the database directly from here at a later time, but for now that feature is unavailable

* The table schema code will be included in this repo and the instructions to use it should be located in the README

* A separate notebook will be created and used repeatedly to update the database incrementally as time goes on and the prices change and more data is generated

In [2]:
#create the string to connect to the database - will be used with sqlalchemy!
protocol = "postgresql"
user = config.user
password = config.pw
location = "localhost"
port = "5432"
database = "crypto"

connection_string = f"{protocol}://{user}:{password}@{location}:{port}/{database}"
print(connection_string)

postgresql://postgres:BKMRchj5@localhost:5432/crypto

In [3]:
#setup the sqlalchemy engine

#create the engine to interact with the database with the connection string
engine = create_engine(connection_string)

## Load Bitcoin Data

* The steps below outline how to initially load the Bitcoin (BTC) data from the .csv located in the **Bitcoin/IO/** folder
* The steps outlined below are essentially the same as the steps for loading the Ethereum data above, with some table names changed, so if you got the Ethereum data loaded already, loading the Bitcoin data here should not be a problem!

In [11]:
# load in Bitcoin csv file for the notebook, to be loaded into SQL
btc_csv = './Bitcoin/IO/coinbaseUSD_1-min_data.csv'

btc_df = pd.read_csv(btc_csv)

#convert the "Date" column to datetime objects with timezones, because it is read in as text
btc_df["Date"] = pd.to_datetime(btc_df["Date"], utc=True)

#update the column names to match the schema of the database table
sql_columns = ["Unix_Timestamp", "Entry_Date", "Symbol", "Open_Price", "High_Price", "Low_Price", "Close_Price", "Coin_Volume"]
lowercase_sql_columns = [a.lower() for a in sql_columns]
btc_df.columns = lowercase_sql_columns

btc_df

,unix_timestamp,entry_date,symbol,open_price,high_price,low_price,close_price,coin_volume
0,1417411980,2014-12-01 05:33:00+00:00,BTC-USD,300.00,300.00,300.00,300.00,0.010000
1,1417412400,2014-12-01 05:40:00+00:00,BTC-USD,300.00,300.00,300.00,300.00,0.010000
2,1417415040,2014-12-01 06:24:00+00:00,BTC-USD,370.00,370.00,370.00,370.00,0.010000
3,1417416600,2014-12-01 06:50:00+00:00,BTC-USD,370.00,370.00,370.00,370.00,0.026556
4,1417498140,2014-12-02 05:29:00+00:00,BTC-USD,377.00,377.00,377.00,377.00,0.010000
...,...,...,...,...,...,...,...,...
4476315,1696140900,2023-10-01 06:15:00+00:00,BTC-USD,27104.11,27107.64,27104.10,27106.28,0.807403
4476316,1696140960,2023-10-01 06:16:00+00:00,BTC-USD,27106.27,27107.64,27104.26,27106.22,0.729272
4476317,1696141020,2023-10-01 06:17:00+00:00,BTC-USD,27105.84,27107.51,27101.92,27105.20,1.254212
4476318,1696141080,2023-10-01 06:18:00+00:00,BTC-USD,27107.02,27107.04,27101.16,27102.29,1.377026
4476319,1696141140,2023-10-01 06:19:00+00:00,BTC-USD,27101.41,27103.34,27100.95,27102.29,1.163456

In [14]:
# load in Bitcoin csv file for the notebook, to be loaded into SQL
kraken_trades_btc_csv = './Bitcoin/Kraken/XBTUSD.csv'

column_headers = ["unix_timestamp", "price", "volume"]
kraken_trades_btc_df = pd.read_csv(kraken_trades_btc_csv, header=None, names=column_headers)
kraken_trades_btc_df['symbol'] = 'BTC-USD'
kraken_trades_btc_df["entry_date"] = pd.to_datetime(kraken_trades_btc_df["unix_timestamp"], unit='s', utc=True)
kraken_trades_btc_df.drop_duplicates(subset=['unix_timestamp', 'price', 'volume', 'symbol'], keep='first', inplace=True)
kraken_trades_btc_df

,unix_timestamp,price,volume,symbol,entry_date
0,1381095255,122.00,0.100000,BTC-USD,2013-10-06 21:34:15+00:00
1,1381179030,123.61,0.100000,BTC-USD,2013-10-07 20:50:30+00:00
2,1381201115,123.91,1.000000,BTC-USD,2013-10-08 02:58:35+00:00
3,1381201115,123.90,0.991600,BTC-USD,2013-10-08 02:58:35+00:00
4,1381210004,124.19,1.000000,BTC-USD,2013-10-08 05:26:44+00:00
...,...,...,...,...,...
54383337,1673082832,16935.40,0.059048,BTC-USD,2023-01-07 09:13:52+00:00
54383338,1673082834,16935.40,0.000115,BTC-USD,2023-01-07 09:13:54+00:00
54383339,1673082834,16935.40,0.000100,BTC-USD,2023-01-07 09:13:54+00:00
54383340,1673082845,16935.30,0.006245,BTC-USD,2023-01-07 09:14:05+00:00
54383341,1673082846,16935.30,0.016291,BTC-USD,2023-01-07 09:14:06+00:00

In [13]:
# load in Bitcoin csv file for the notebook, to be loaded into SQL
kraken_btc_csv = './Bitcoin/Kraken/XBTUSD_1.csv'

column_headers = ["unix_timestamp", "open", "high", "low", "close", "volume", "trades"]
kraken_btc_df = pd.read_csv(kraken_btc_csv, header=None, names=column_headers)
kraken_btc_df['symbol'] = 'BTC-USD'
kraken_btc_df["entry_date"] = pd.to_datetime(kraken_btc_df["unix_timestamp"], unit='s', utc=True)

kraken_btc_df

,unix_timestamp,open,high,low,close,volume,trades,symbol,entry_date
0,1381095240,122.00000,122.00000,122.00000,122.00000,0.100000,1,BTC-USD,2013-10-06 21:34:00+00:00
1,1381179000,123.61000,123.61000,123.61000,123.61000,0.100000,1,BTC-USD,2013-10-07 20:50:00+00:00
2,1381201080,123.91000,123.91000,123.90000,123.90000,1.991600,2,BTC-USD,2013-10-08 02:58:00+00:00
3,1381209960,124.19000,124.19000,124.18000,124.18000,2.000000,2,BTC-USD,2013-10-08 05:26:00+00:00
4,1381311000,124.01687,124.01687,124.01687,124.01687,1.000000,1,BTC-USD,2013-10-09 09:30:00+00:00
...,...,...,...,...,...,...,...,...,...
3078315,1673082600,16935.40000,16935.40000,16935.30000,16935.30000,0.007711,9,BTC-USD,2023-01-07 09:10:00+00:00
3078316,1673082660,16935.40000,16935.40000,16935.30000,16935.40000,0.007235,4,BTC-USD,2023-01-07 09:11:00+00:00
3078317,1673082720,16935.40000,16935.40000,16935.30000,16935.40000,0.118419,10,BTC-USD,2023-01-07 09:12:00+00:00
3078318,1673082780,16935.40000,16935.40000,16935.30000,16935.40000,0.076396,8,BTC-USD,2023-01-07 09:13:00+00:00
3078319,1673082840,16935.30000,16935.30000,16935.30000,16935.30000,0.022536,2,BTC-USD,2023-01-07 09:14:00+00:00

In [15]:
#load the dataframe into the SQL table!
#no need to create the engine, it should already exist

#**********THIS WILL FAIL UPON RUNNING AS A DEFAULT - ONLY CHANGE THE "if_exists='fail'" PARAMETER BELOW TO 'append' 
#**********IF LOADING DATA FOR THE FIRST TIME! OTHERWISE CHECK THE README FOR THE CORRECT NOTEBOOK TO UPDATE THE DATABASE!
btc_df.to_sql(name="bitcoin", con=engine, index=False, if_exists="fail")
print("If you can see this, the table should have loaded successfully!")

If you can see this, the table should have loaded successfully!

In [15]:
#load the dataframe into the SQL table!
#no need to create the engine, it should already exist

#**********THIS WILL FAIL UPON RUNNING AS A DEFAULT - ONLY CHANGE THE "if_exists='fail'" PARAMETER BELOW TO 'append' 
#**********IF LOADING DATA FOR THE FIRST TIME! OTHERWISE CHECK THE README FOR THE CORRECT NOTEBOOK TO UPDATE THE DATABASE!
chunk_size = 5000  # or another size that works without running out of memory
for i in range(0, len(kraken_trades_btc_df), chunk_size):
    chunk = kraken_trades_btc_df[i:i+chunk_size]
    chunk.to_sql(name="kraken_trades", con=engine, index=False, if_exists="append")
print("If you can see this, the table should have loaded successfully!")

If you can see this, the table should have loaded successfully!

In [ ]:
#load the dataframe into the SQL table!
#no need to create the engine, it should already exist

#**********THIS WILL FAIL UPON RUNNING AS A DEFAULT - ONLY CHANGE THE "if_exists='fail'" PARAMETER BELOW TO 'append' 
#**********IF LOADING DATA FOR THE FIRST TIME! OTHERWISE CHECK THE README FOR THE CORRECT NOTEBOOK TO UPDATE THE DATABASE!
kraken_btc_df.to_sql(name="kraken_bitcoin", con=engine, index=False, if_exists="fail")
print("If you can see this, the table should have loaded successfully!")

In [16]:
#check that the table loaded correctly by reading it from sql and comparing it to the 
#dataframe we inserted
check_btc_df = pd.read_sql_table(table_name="bitcoin", con=engine)
check_btc_df

,unix_timestamp,entry_date,symbol,open_price,high_price,low_price,close_price,coin_volume
0,1417411980,2014-12-01 05:33:00+00:00,BTC-USD,300.00,300.00,300.00,300.00,0.010000
1,1417412400,2014-12-01 05:40:00+00:00,BTC-USD,300.00,300.00,300.00,300.00,0.010000
2,1417415040,2014-12-01 06:24:00+00:00,BTC-USD,370.00,370.00,370.00,370.00,0.010000
3,1417416600,2014-12-01 06:50:00+00:00,BTC-USD,370.00,370.00,370.00,370.00,0.026556
4,1417498140,2014-12-02 05:29:00+00:00,BTC-USD,377.00,377.00,377.00,377.00,0.010000
...,...,...,...,...,...,...,...,...
4295656,1685301360,2023-05-28 19:16:00+00:00,BTC-USD,27612.48,27615.53,27602.88,27603.61,1.763234
4295657,1685301420,2023-05-28 19:17:00+00:00,BTC-USD,27604.38,27607.15,27601.89,27602.89,1.807769
4295658,1685301480,2023-05-28 19:18:00+00:00,BTC-USD,27602.86,27602.86,27582.60,27584.94,7.486131
4295659,1685301540,2023-05-28 19:19:00+00:00,BTC-USD,27583.23,27604.69,27582.59,27602.31,3.189308
4295660,1685301600,2023-05-28 19:20:00+00:00,BTC-USD,27603.42,27618.67,27602.37,27617.41,2.114070

In [17]:
#output whether the data read matches the data written to the database!

#make sure both dataframes are sorted, and indexed correctly, or there may be issues - the data from the database was not
#matching due to having the order changed upon insertion somehow!
sorted_check_btc_df = check_btc_df.sort_values(by="unix_timestamp").reset_index(drop=True)
sorted_btc_df = btc_df.sort_values(by="unix_timestamp").reset_index(drop=True)

if(sorted_check_btc_df.equals(sorted_btc_df)):
    print("Good Job! You have successfully loaded the 'Bitcoin' data!")
else:
    print("It looks like the data you wrote to the database does not match the data read from the database.")

Good Job! You have successfully loaded the 'Bitcoin' data!